body {
  
background-color: rgb(0, 0, 0);
  
  background-image: url("myBackground.jpg");
  
}

p {
  
  color: rgb(196, 0, 255);
  
}

h1 {
  
  color: rgb(162, 0, 255);
  
}

#aboutFooter {
  
  margin-top:500px;
  width: 400px;
  height:150px;
  
  
}

#footerIMG1 {
    width: 400px;
  height:150px;
  filter: invert(100%);
}
  
 #footerIMG2 {
    width: 400px;
  height:150px;
  filter: invert(100%);
  }
  
  #footerIMG3 {
    width: 400px;
  height:150px;
  
   }
    
    #footerIMG4 {
    width: 400px;
  height:150px;
}

