body {
  
background-color: rgb(0, 0, 0);
  
  background-image: url("myBackground.jpg");
  width: 800px;
  
}

p {
  
  color: rgb(196, 0, 255);
  
}

h1 {
  
  color: rgb(162, 0, 255);
  
}

#aboutFooter {
  
  margin-top:500px;
  width: 400px;
  height:150px;
  
  
}

#footerIMG1 {
  
  
}
  
 #footerIMG2 {
  
  
  }
  
  #footerIMG3 {
  
  
   }
    
    #footerIMG4 {
  
  
}

